
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFFDFE;
}
header {
    background-color: #edf1fa;
    padding: 40px 0;
}
.menu {
    
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    
    margin: 0 15px;
    position: relative;
}
.menu li a {
    text-decoration: none;
    color: black; 
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
}

.menu li a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.3s ease;
}

.menu li a:hover {
    color: blue; 
}

.menu li a:hover::after {
    width: 100%; 
}

.btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color: #446DF3;
    color: white;
    width: 120px; 
    height: 50px;
    font-size: 18px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
    position: absolute;
    top: 25px;
    right: 100px; 
}

button:hover {
    background-color: #3257D7;
    transform: scale(1.05);
}
.logo{
    width: 7%;
    top: 5px;
    left: 30px;
    position: absolute;
}
input {
    display: block;
    width: 200px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}




.btn {
    background-color: #446DF3;
    color: white;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif';
}

.first{
    font-size: 70px;
    color: #446DF3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10%;
}

.second{
    font-size: 25px;
    color: #444444;
    padding-left: 10%;
    line-height: 160%;

}

.search-container {
    display: flex;
    align-items: center;
    padding-left: 10%;
    
}


.btn2 {
    position: absolute;
    left: 31.2%;
    background-color: #446DF3;
    color: white;
    height: 50px;
    width: 110px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    box-shadow: 3px 1.1px 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
}


.inp1{
    height: 60px;
    width: 520px;
    border: none;
    box-shadow: 1.1px 1.1px 5px;
    text-align: left;
}

 
.devetk{
    font-size: 30px;
    color: #446DF3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    position: absolute;
    top: 64%;
    left: 10%;
}

.prem{
    font-size: large;
    position: absolute;
    left: 10%;
    top: 69%;
    color: #444444;
}

.dvak{
    font-size: 30px;
    color: #446DF3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    position: absolute;
    top: 64%;
    left: 20%;
    
}
.osamnest{
    font-size: 30px;
    color: #446DF3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    position: absolute;
    top: 64%;
    left: 30%;
}

.awards{
    color: #444444;
    font-size: large;
    position: absolute;
    left: 30%;
    top: 69%;
}



.happy{
    color: #444444;
    position: absolute;
    left: 20%;
    top: 69%;
}
.counter1 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
    border: 1px  ; 
    width: 6%;
    padding: 40px;
    font-size: 30px;
  background-color: #FFFFFF;
  position: absolute;
  left: 66%;
  top: 18%;
  border-radius: 5px;
  }
  .counter2 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
    border: 1px  ; 
    width: 6%;
    padding: 30px;
    padding-left: 13px;
    padding-bottom: 25px;
    font-size: 30px;
  background-color: #FFFFFF;
  position: absolute;
  
  border-radius: 5px;
  left: 86%;
  top: 40%;
  }
  .counter3{
    position: absolute;
    top: 20%;
    left: 69.7%;
    color: #87EBC6;
  }
  .counter4{
    position: absolute;
    top: 41%;
    left: 88.3%;
    color: #87EBC6;
  }
  .slika{
    transform: scale(1, 0.9);
    width: 23%;
    height: 520px;
    border-radius: 150px 150px 5px 5px ;
    position: absolute;
    left: 70%;
    top: 10%;
  }
  .text-slika{
    position: absolute;
    top: 25%;
    left: 68.2%;
    color: #CFCFCF;
    

  }
  .text-slika2{
    position: absolute;
    top: 46%;
    left: 86.8%;
    color: #CFCFCF;
    

  }
  .coin{
    position: absolute;
    top: 19.5%;
    left: 68%;
    color: gold;
    background-color: #FEF8E2;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
  }
  .people{
    position: absolute;
    top: 40.6%;
    left: 86.6%;
    color: blue;
    background-color: #E4E6FF;
    padding-top: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
  }
  .arrow{
    color: #87EBC6;
    position: absolute;
    top: 20%;
    left: 73.4%;
    animation: MoveUpDown 1s linear ;
    
  }
  .arrow2{
    color: #87EBC6;
    position: absolute;
    top: 41%;
    left: 91.3%;
    animation: MoveUpDown 1s linear ;
    
  }
  @keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.sponzor{
  padding: 1%;
  padding-left: 10%;
 
 
}
.pozadina{
  background-color: #f8f8fa;
}
.buyapart{
  color: #446DF3;
  font-size: 37px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10%;
  padding-top: 5%;
}
.explore-button2 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: block;
  width: 10%;
  padding: 18px;
  font-size: 20px;
  text-align: center;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 10%;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}
.explore-button2:hover{
  background-color: #3257D7;
  transform: scale(1.05);
}
.second{
  color: black;

}
.dream_zgrada{
  position: absolute;
  top: 100%;
  left: 60%;
  width: 40%;
}

.container {
  width: 80%; 
  margin: 0 auto;
}
.properties-row {
  display: flex; 
  justify-content: space-between; 
}
.property-card {
  background-color: #F5F5F5;
 
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  flex-basis: 30%; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}
.property-card:hover{
  background-color: #3257D7;
  transform: scale(1.05);
}
.property-image {
  width: 100%;
  height: 60%;
  border-radius: 8px;
}
.property-info {
  margin-top: 8px;
  
}
.property-price {
  color: blue;
  font-weight: bold;
}
.explore-button {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: block;
  width: 10%;
  padding: 18px;
  font-size: 20px;
  text-align: center;
  background-color: blue;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 42%;
  transition: background-color 0.3s ease, transform 0.2s ease; 
}
.explore-button:hover{
  background-color: #3257D7;
  transform: scale(1.05);
}
.text-kuce{
  text-align: center;
  color: blue;
}
#arrow{
  color: blue;
 float: right;
  
}
.property-card:hover .text-kuce  {
color: white;
}
.property-card:hover  .text-kuce2 {
color: white;
}
.property-card:hover  .property-price {
color: white;
}
.property-card:hover  #arrow {
color: white;
}

.container2 {
  max-width: 1200px;
  
  padding: 2rem;
  
}

.h1-text {
  text-align: left;
  margin-bottom: 2rem;
  color: blue;
  font-size: 50px;
}

.features {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;

}

.feature {
  flex-basis: 75%;
}

.bi.bi-check-lg {
  width: 40px;
  height: 40px;
  margin-bottom: 10px; 
  border-radius: 50%; 
  background-color: lightblue; 
}

.rounded-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon4 {
  display: inline-flex;
  align-items: center;
  margin-right: 5px;
 
}

.jedantxt{
  position: absolute;
  left:16.4%;
}
.dvatxt{
  position: absolute;
  left:16.4%;
}
.tritxt{
  position: absolute;
  left:16.4%;
}
.why_zgrada{
 position: absolute;
 left: 65%;
 top: 266%;
 width: 30%;
}

.one {
  background-color: rgb(238, 238, 238);
  color:  rgba(4, 4, 136, 0.795);
  border-radius: 15px;
  width: 300px;
  padding: 10px;
  padding-top: 1px;
  opacity: 1;
  font-family: Helvetica;
  height: 110px;
  margin-bottom: 30px;
  margin-right: 30px;
  position: absolute;
  left: 12%;
  font-size: small;
  transition: 0.6s;
}
.two {
  color:  rgba(4, 4, 136, 0.795);
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  width: 300px;
  padding: 10px;
  padding-top: 1px;
  opacity: 1;
  font-family: Helvetica;
  height: 110px;
  margin-bottom: 30px;
  margin-right: 30px;
  position: absolute;
  left: 30%;
  font-size: small;
  transition: 0.6s;
}

.three{
  color:  rgba(4, 4, 136, 0.795);
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  width: 300px;
  padding: 10px;
  padding-top: 1px;
  opacity: 1;
  font-family: Helvetica;
  height: 110px;
  margin-bottom: 30px;
  margin-right: 30px;
  position: absolute;
  left: 48%;
  font-size: small;
  transition: 0.6s;
}

.dvap{
  position: absolute;
  left: 8%;
  top: 45%;
  font-size: small;
}

.trip{
  position: absolute;
  left: 8%;
  top: 45%;
  font-size: small;
}

.jedp{
  position: absolute;
  left: 8%;
  top: 45%;
  font-size: small;
}

.one h1{
  padding-left: 5%;
}

.two h1{
  padding-left: 5%;
}

.three h1{
  padding-left: 5%;
}

.one:hover {
  background-color: #446DF3;
  color: white !important;

}
.two:hover{
  background-color: #446DF3;
  color: white;
}

.three:hover{
  background-color: #446DF3;
  color: white;
}


.header-text{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  letter-spacing:10%;
}

.header1{
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, 10%);
  color: lightgray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  font-weight: lighter;
}

.container1  {
  


  width: 1200px;
  margin: auto;


  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:549px;

  cursor: pointer;
  position: relative;
  margin-bottom: 50px;
  
}

.container1 img {
  width: 100%;
}

.btn1{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  
  


  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:549px;
  padding: 20px 35px;
  border: 2px solid white;
  border-width: 7.3px;
  border-radius: 10px;
  cursor: pointer;
}
.btn1:hover {
  transition: 0.4s;
  background-color: #446DF3;
  color: white;
  transform: translate(-50%, 0);

 
}
.btn1 {
  
  border:  white;
}

.review-container {
  display: flex;
  transition: transform 0.5s ease-in-out; 
}



.review-box {
  flex: 0 0 30%; 
  margin-right: 20px; 
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.review-box:hover {
  transform: scale(1.05);
  filter: brightness(90%);
}

.review-box img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.stars {
  color: gold;
  font-size: 24px;
}

.nav-buttons {
  text-align: center;
  margin-top: 20px;
}

.nav-buttons span {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer; 
}

.nav-buttons span:hover {
  background-color: #135286;
}

.review-box:nth-child(2) {
  background: linear-gradient(to bottom left, #4aa9f7 50%, #6fc3ff);
  color: white; 
}

.review-box:nth-child(2) .stars {
  color: white; 
}

.review-box:nth-child(1),
.review-box:nth-child(3),
.review-box:nth-child(4) {
  background-color: #e4dfdf; 
}

.fleksbox button{
  background-color: rgb(40, 81, 194);
  border-radius: 5px;
  color: white;
  size: 200%;
  padding: 15px;
}



.fleksbox{
  display: flex;
  background-color: rgb(219, 219, 235);
 align-items: center;
 color:rgb(40, 81, 194);
 border-radius: 20px;
 padding: 140px;
 max-width: 700px;
 margin: 0 auto;
 flex-direction: column;
}

.fleksbox h5{
  margin-top: 150px;
 
 
}

.enterrr{
  margin-top: 150px;
  position: absolute;
  left: 50%;
  top: 456%;
  
}
.flexbox{
  display: flex;
}

.sub{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;

}
.useless{

  color: black;
  font-size:14px;

  margin: 20px;
}

.shod{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  position: absolute;
  top:460%;
  left:44%;
  color:rgb(40, 81, 194);
}


.enterem{

  height: 30px;
  width: 470px;
  border: none;
  box-shadow: 1.1px 1.1px 5px;
  text-align: left;
}

.newsletter {
  position: relative;
}

.subbb{
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #446DF3;
  color: white;
  height: 41px;
  width: 110px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  box-shadow: 3px 1.1px 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.3s;

}

#footer {
  background-color: #007bff; 
  color: white; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer-content {
  width: 25%;
 
}

.footer-content h4 {
  
  margin-bottom: 10px;
}

.footer-content ul {
  
  list-style: none;
 padding: 0;
}


.footer-content ul li a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
}

.social-icons {
  margin-top: 20px;
  
}

.social-icon {
  margin-right: 10px;
  
}

footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px;
}
.logo_footer{
  width: 100px;
  position: absolute;
  left: 2.3%;
  transform: translateX(-50%);
  top: 7px; 
}

#scrollToTopBtn {
  animation: fadeIn 0.5s ease-in-out forwards;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0c61bb;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  z-index: 999;
}
